html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
//   font-size: 62.5%;
//   color: white;
  font-weight: 500;
}
body {
  background-color: rgb(181, 202, 191);
  padding: 3rem;
}

.search {
    width: 100%;
    margin: auto;
    padding-bottom: 2rem;

    input {
        width: 100%;
        max-width: 30rem;
    }

    input,button {
        height: 3rem;
        font-size: 2rem;
    font-family: 'Libre Baskerville', serif;
    }

    button {
        display: none;
    }
}


a {
    text-decoration: none !important;
    color: inherit !important;
}


.data {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
    max-width: 70rem;
    margin: auto;
    font-size: 1rem;
    font-family: 'Libre Baskerville', serif;
}

@media (min-width: 600px) {
    .data {
        grid-template-columns:1fr 1fr;
    }
}

@media (min-width: 900px) {
    .data {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.title {
    font-size: 1.3rem;
    
    // height: 7rem;
}

.recipe {
    background-color: rgb(255, 254, 241);
    padding: 1.2rem;
    display: grid;
    grid-gap: 1rem;
}


img {
    width: 100%;
}